<div class="jumbotron">
    <h2>SYSTEX UCOM Common Solution</h2>
    <p class="lead">基于ASP.NET WebApi的通用接口解决方案</p>
    <p><a href="http://www.systexucom.com" class="btn btn-primary btn-lg">了解更多 &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>产品介绍</h2>
        <p></p>
        <p><a class="btn btn-default" href="">了解更多 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>资源下载</h2>
        <p></p>
        <p><a class="btn btn-default" href="">了解更多 &raquo;</a></p>
    </div>
</div>
